/* Global Styles */

.body-text {
  -fx-font-family: "System", Regular; /* Default font */
  -fx-opacity: 0.98;
}

.selected-text {
	-fx-font-family: "System", System-Bold;
	-fx-opacity: 1;
}

.circle {
	-fx-fill: #848484;
}

.selected-circle {
	-fx-fill: #8B5AFE;
}

.light-radius-border {

  -fx-border-radius: 10;
  -fx-background-radius: 10;
}

.light-radius-box-border {
  -fx-border-color: lightgrey;
  -fx-border-radius: 10;
  -fx-background-color: white;
}

.drop-shadow {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 2, 1);
}

.pane {
  -fx-background-color: white;
}

.pane-selected {
  -fx-background-color: #8B5AFE;
}

.profile-container {
    -fx-background-color: #F0F0F0;
    -fx-border-radius: 50%;
    -fx-padding: 10px;
}

#profileImage {
    -fx-border-radius: 50%;
}
